* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    background: green;
}

#root {
    margin: auto;
    max-width: 1200px;
}

.App {
    margin-top: 10px;
    text-align: center;
}

.pile {
    background: inherit;
    float: left;
    text-align: center;
    width: 25%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.top-deck {
    float: none;
}
.side-deck {
    display: none;
}

.card-wrapper {
    margin: 2.5%;
    padding-bottom: 140%;
    position: relative;
    transition: all 0.7s ease;
    width: 95%;
}

.card-wrapper + .card-wrapper {
    margin-top: -105%;
}

/* Standard, if we don't know if we have a large height */
.card-wrapper:nth-of-type(n+2):nth-last-of-type(n+4) {
    margin-top: -125%;
}

.card {
    background: white;
    border: 3px solid #333;
    border-radius: 14px;
    overflow: hidden;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    user-select: none;
}

.card .upper-suit { text-align: right; }
.card .lower-suit {
    display: none;
}

.card .num, .card .suit {
    display: inline-block;
}

.card .big-val {
    font-size: 16vw;
    font-weight: bold;
    height: 100px;
    left: 50%;
    line-height: 100px;
    margin-left: -150px;
    margin-top: -50px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 300px;
}

.card .big-suit {
    top: 60%;
}

.suits div {
    display: none;
    font-size: 3.9vw;
    height: 100px;
    line-height: 100px;
    margin-left: -50px;
    margin-top: -50px;
    position: absolute;
    text-align: center;
    width: 100px;
}

.suits .left {
    left: 31%;
}

.suits .right {
    left: 69%;
}

.suits .middle {
    left: 50%;
}

.suits .center {
    top: 50%;
}

.suits .upper {
    top: 15%;
}

.suits .upper-center {
    top: 38.33%;
}

.suits .lower-center {
    top: 61.67%;
    transform: rotate(180deg);
}

.suits .lower {
    top: 85%;
    transform: rotate(180deg);
}

.suits .middle.upper-center {
    top: 30%;
}

.suits .middle.lower-center {
    top: 70%;
    transform: rotate(180deg);
}

.upper-suit {
    font-size: 7vw;
    position: absolute;
    right: 3%;
    top: 3%;
}

.lower-suit {
    bottom: 2%;
    font-size: 2.5vw;
    position: absolute;
    right: 2%;
    transform: rotate(180deg);
}

.upper-suit .suit, .lower-suit .suit {
    margin-top: -10px;
}

.empty-deck { opacity: 0.2; }

.full-deck {
    background-color: hsl(34, 53%, 82%);
    background-image: repeating-linear-gradient(45deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px,
    hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px,
    hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,
    hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px,
    hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px,
    hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 120px, hsla(197, 62%, 11%, 0.5) 120px, hsla(197, 62%, 11%, 0.5) 140px
    ),
    repeating-linear-gradient(135deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px,
            hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px,
            hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,
            hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px,
            hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px,
            hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 140px, hsla(197, 62%, 11%, 0.5) 140px, hsla(197, 62%, 11%, 0.5) 160px
    );
}

.difficulty {
    background: black;
    color: white;
    padding: 6px 9px;
    position: fixed;
    top: 0; right: 0;
}

/* Modal */
.hide-modal {
    height: 0;
    opacity: 0;
}

.hide-modal #modal-content {
    height: 0;
}

.show-modal {
    height:100%;
    opacity: 1;
}

#modal {
    background: rgba( 0, 0, 0, 0.8 );
    position: fixed;
    top: 0;
    left: 0;
    text-align:center;
    transition: all 0.7s ease;
    width:100%;
    z-index: 1000;
}

#modal-content {
    background: white;
    border-radius: 20px;
    border: 5px solid black;
    height: 400px;
    margin-left: -300px;
    margin-top: -200px;
    overflow: hidden;
    position: fixed;
    top: 50%; left: 50%;
    transition: all 0.7s ease;
    width: 600px;
}

#modal-content h1 {
    background: #5aa8d5;
    border-bottom: 5px solid black;
    padding-bottom: 20px;
    padding-top: 20px;
}

#modal-content .modal-stats {
    line-height: 1.4;
    margin: 20px;
}

.emphasis {
    font-size: 1.3em;
    font-weight: bold;
}

.modal-buttons {
    margin-bottom: 20px;
}
.button {
    background-color: #fff;
    border-radius: 12rem;
    border: .2rem solid #28aadc;
    color: #28aadc;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 10px;
    padding: 1.05rem 2.75rem;
    text-transform: uppercase;
}

/* Medium Size, Deck beside piles (5 across) */
@media (min-width: 480px) {
    .App {
        margin-top: 40px;
    }
    .pile {
        width: 20%;
    }

    .upper-suit {
        font-size: 6vw;
        right: 1%;
        top: 1%;
    }

    .card .big-val {
        font-size: 15vw;
    }

    .side-deck {
        display: block;
    }

    .top-deck {
        display: none;
    }

}

/* Above "mobile", show the full card */
@media (min-width: 960px) {

    .card .num, .card .suit {
        display: block;
        text-align: center;
    }

    .card .lower-suit, .card .upper-suit {
        display: block;
        font-size: 2.8vw;
    }

    .card .upper-suit {
        left: 2%;
        right: auto;
    }

    .card .big-suit {
        top: 50%;
    }
    /* TWOS */
    .card-2 .middle.upper,
    .card-2 .middle.lower { display: block; }

    /* THREES */
    .card-3 .middle.upper,
    .card-3 .middle.center,
    .card-3 .middle.lower { display: block; }

    /* FOURS */
    .card-4 .left.upper,
    .card-4 .left.lower,
    .card-4 .right.upper,
    .card-4 .right.lower { display: block; }

    /* FIVES */
    .card-5 .left.upper,
    .card-5 .left.lower,
    .card-5 .right.upper,
    .card-5 .right.lower,
    .card-5 .middle.center { display: block; }

    /* SIXES */
    .card-6 .left.upper,
    .card-6 .left.center,
    .card-6 .left.lower,
    .card-6 .right.upper,
    .card-6 .right.center,
    .card-6 .right.lower { display: block; }

    /* SEVENS */
    .card-7 .left.upper,
    .card-7 .left.center,
    .card-7 .left.lower,
    .card-7 .right.upper,
    .card-7 .right.center,
    .card-7 .right.lower,
    .card-7 .middle.upper-center { display: block; }

    /* EIGHTS */
    .card-8 .left.upper,
    .card-8 .left.upper-center,
    .card-8 .left.lower-center,
    .card-8 .left.lower,
    .card-8 .right.upper,
    .card-8 .right.upper-center,
    .card-8 .right.lower-center,
    .card-8 .right.lower { display: block; }

    /* NINES */
    .card-9 .left.upper,
    .card-9 .left.upper-center,
    .card-9 .left.lower-center,
    .card-9 .left.lower,
    .card-9 .right.upper,
    .card-9 .right.upper-center,
    .card-9 .right.lower-center,
    .card-9 .right.lower,
    .card-9 .middle.center { display: block; }

    /* TENS */
    .card-10 .left.upper,
    .card-10 .left.upper-center,
    .card-10 .left.lower-center,
    .card-10 .left.lower,
    .card-10 .right.upper,
    .card-10 .right.upper-center,
    .card-10 .right.lower-center,
    .card-10 .right.lower,
    .card-10 .middle.upper-center,
    .card-10 .middle.lower-center { display: block; }

    .card .big-val {
        display: none;
    }
    .card-A .big-val,
    .card-J .big-val,
    .card-Q .big-val,
    .card-K .big-val,
    .full-deck .big-val,
    .empty-deck .big-val
    { display: block; }
}

/* Plenty of vertical space, only stack in extreme cases */
@media ( orientation: portrait ) {
    /* reset regular stack */
    .card-wrapper:nth-of-type(n+2):nth-last-of-type(n+4) {
        margin-top: -105%;
    }
    .card-wrapper:nth-of-type(n+2):nth-last-of-type(n+10) {
        margin-top: -125%;
    }

}

/* Phones in landscape, do the best to fit, but really, nobody will play this way... */
@media ( max-height: 420px ) and ( orientation: landscape ) {
    /* reset regular stack */
    .card-wrapper:nth-of-type(n+2):nth-last-of-type(n+3) {
        margin-top: -135%;
    }
    .card-wrapper + .card-wrapper {
        margin-top: -108%;
    }
}

/* At this point, the cards will stay the same size, so ditch the relative sizes (vw) */
@media ( min-width: 1200px ) {
    .card .big-val {
        font-size: 180px;
    }
    .suits div {
        font-size: 47px;
    }
    .card .upper-suit, .card .lower-suit {
        font-size: 34px;
    }
}

/* Mess with the modal depending on the screen size. */
@media ( max-width: 599px ) , ( max-height: 399px ) {
    #modal-content {
        height: auto;
        margin-left: 0;
        margin-top: 0;
        position: fixed;
        top: 0; left: 0; right: 0; bottom: 0;
        width: auto;
    }
}

.btn{
    color: #666; /* Icon Color */
}

.icon {
    float: left;
    width: 21px;
    height: 21px;
    position: relative;
    display: block;
}

.icon:before,
.icon:after{
    position: absolute;
    content: "";
    display:block;
}

.icon-gear:before{
    width: 21px;
    height: 21px;
    box-shadow: 0 0 0 6px inset;
    border-radius: 24px;
    border: 2px dashed;
    top: 1px;
    left: -2px;
}

.question:before
{
    content: '?';
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    width: 1.5em;
    height: 1.5em;
    font-size: 0.9em;
    line-height: 1.67em;
    border-radius: 0.25em;
    margin-right: 4px;
    padding: 1px;
    color: darkgrey;
    background: rgba( 86, 86, 86, 0.75 );
    text-decoration: none;
}

.arrow {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(51, 51, 51);
    border-image: initial;
    border-radius: 50%;
}

.arrow:after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    vertical-align: top;
    margin-top: 6px;
    margin-left: 1px;
}

.right:after {
    transform: rotate(45deg);
    margin-top: 7px;
    margin-left: -2px;
}

